/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


// about us page-links

.align-title-center {
text-align:center;

}
.span-two-col {
		display:flex;
		justify-content:space-between;
}
.left-col {
	flex-wrap: wrap;
		display:flex;
		flex:0 1 45%;
}
.right-col {
	flex-wrap: wrap;
		display:flex;
		flex:0 1 45%;
}

/* Posts and pages */

body:not(.home) .site-content {
	display:flex;
	flex:1 0 66%;
	padding-right:5%;
	width:1024px;
	margin:0 auto;
}

.entry-title, .entry-meta {

}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-content p,
.entry-content,
.entry-summary, p {
	color:#222;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
