  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/
//no search results page

.nav-search {
	  margin:0;
	  float:right;
}

.page-content input[type="search"],.search input[type="submit"] {

    background-color: #fafafa;
    border: 1px solid #e1e1e1;
		padding-top:10px;
		outline:none;
    color: #666;
    border-radius: 3px;
}

.page-content button, .nav-search-submit {
	  border:none;
	  position:relative;
	  background-color: #222;
	  width:20px;
}

.page-content button, .fa-search {
	  margin:0;
	  position:relative;
	  right:12px;
}

  // contact form 7

  .wpcf7-form .contact-page-btn input[type="submit"] {
	    padding:.75em 2em .75em 2em;
	    background-color:#222;
	    border-radius: 3px;
	    color:#FFF;
	    text-decoration:none;
	    width:120px;
	    text-align: center;
  }

  .name-email {
    	display:flex;
  }

  .name-email div {
    	flex:0 0 50%;
  }

  .wpcf7-form div p label {
		  font-weight:700;
			color:#808080;
  }

  .required {
	    color:red;
	    font-size: 16px;
	    font-weight:700;
  }

  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea {
      background-color: #fafafa;
  		padding:12px;
			margin: 4px 0 8px -5px;
      color: #666;
      font-size:1em;
      outline:none;
      border:1px solid #e1e1e1;
      width: 100%;
  }

  // products page

  .lrb-categories {
      width:75%
    }

.lrb-cat-loop-prod {
        align-items:center;
        flex-direction:column;
        padding: 20px 10px 10px 10px;
        display:flex;
        flex: 1 0 25%;
    }

.lrb-cat-loop-prod a, a:visited {
        text-decoration:none;
  }

.lrb-cat-loop-prod a:hover {
        text-decoration:underline;
  }

.lrb-cat-loop-prod img {
        width: 120px;
        height: 83px;
}

  // about us page-links

  .sub-heading {
        color: grey;
        margin-bottom:.75em;
        display:block;
        margin-left:-4px;
  }

   .about-sub-title {
       margin-left:-4px;
       font-family: 'Overlock',serif;
       display:block;
       font-weight: 700;
       font-size:1.3em;
   }

.about-copy {
       padding-bottom: 20px;
  }

.tagline {
      text-align:center;
      margin: 0;
      padding: 0;
}

.align-title-center {
    	text-align:center;
}

.span-two-col {
  		display:flex;
  		justify-content:space-between;
  }

.left-col {
  	  flex-wrap: wrap;
  		display:flex;
  		flex:0 1 45%;
  }

.right-col {
  	  flex-wrap: wrap;
  		display:flex;
  		flex:0 1 45%;
  }

  /* Posts and pages */

body:not(.home):not(.post-type-archive-product):not(.page-template-about) .content-area {
    	display:flex;
      flex:1 0 67%;
    	padding-right:5%;
  }

  body:not(.home) .site-content {
    	display:flex;
    	width:1024px;
    	margin:0 auto;
  }

  .sticky {
    	display: block;
  }

  .hentry {
    	margin: 0 0 $base__space-unit;
  }

  .updated:not(.published){
  	  display: none;
  }

  .single .byline,
  .group-blog .byline {
  	  display: inline;
  }

  .page-content,
  .entry-content,
  .entry-summary {
  	  margin: $base__space-unit 0 0;
  }

  .page-content p,
  .entry-content,
  .entry-summary, p {
  	  color:#222;
  }

  .page-links {
    	clear: both;
    	margin: 0 0 $base__space-unit;
  }

  /* Asides */

  .blog .format-aside .entry-title,
  .archive .format-aside .entry-title {
  	display: none;
  }

  /* Comments */

  .comment-content a {
  	word-wrap: break-word;
  }

  .bypostauthor {
  	display: block;
  }
