/*--------------------------------------------------------------
# footer styles
--------------------------------------------------------------*/

.footer-contact, p, .fa-phone, a:active a:hover {
    color: #FFF;
}

.footer-contact a:hover {
    color:#FFF;
}
.hours {
    font-weight:700;
    color:#FFF;
}

.site-footer {
    margin:0 auto;
    background-color: #222222;
    text-align: center;
    height:250px;
}

.footer-contact p, .footer-hours p {
    color:#FFF;
    font-size:1rem;
    margin:0;
}

.footer-logo img {
    width:260px;
}

.footer-wrapper {
    flex-wrap:wrap;
    display:flex;
}

.site-footer a {
    text-decoration:none;
    color:#FFF;
}

.footer-contact p .fa-envelope,
.footer-contact p .fa-phone,
.footer-contact li .fa-facebook-square,
.footer-contact li .fa-twitter-square,
.footer-contact li .fa-google-plus-square {
    font-size:1.2rem;
    line-height:1.5;
    margin:0;
    padding:0;
    padding-right: 5px;
    color:#FFF;
}

.footer-contact ul {
    list-style: none;
    margin:0;
    padding:0;
}

.footer-contact  {
    justify-content:flex-start;
    padding: 30px 0 30px;
    text-align:left;
    flex-wrap:wrap;
    flex:1 0 25%;
}

.footer-logo {
    display:flex;
    justify-content:center;
    flex:1 0 50%;
}

.footer-hours {
    text-align:left;
    padding: 30px 0 30px 30px;
    flex:1 0 25%;
}

.site-info {
    padding-top:30px;
    background-color: #333333;
    text-align: center;
    height:80px;
}

div .site-info a {
    font-size:.75rem;
    color:white;
    text-decoration: none;
}

 .footer-contact h3, .footer-hours h3 {
    color: #a1a1a1;
    line-height:0;
    text-transform:uppercase;
}
