

.banner-image {
    background: url("../images/hero-bread.jpg") center top no-repeat #FFFFFF;
    background-size: cover;
    height: 550px;
}

.banner-text {
  padding-top:235px;
  text-transform:uppercase;
  text-align:center;
  font-size: 7em;
  font-weight: 700;
  color: #fff;
  font-family: 'Overlock',sans-serif;
  text-shadow: 1px 1px 2px #333;
}

.lrb-categories {
  align-items:flex-end;
  display:flex;
}

.lrb-cat-loop img {
  width: 230px;
  height: 160px;
  }

.lrb-cat-loop {
  align-items:center;
  flex-direction:column;
  padding: 40px 10px 10px 10px;
  display:flex;
  flex: 1 0 25%;
}

.front-page-btn {
  padding:1em 1em 1em 1em;
  border-radius: 4px;
  background-color:#222;
  color:#FFF;
  width:280px;
}

.front-page-btn a {
  text-decoration:none;
}

.products-cta {
    background-color: #fafafa;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
    margin: 3em auto 3em auto;
    width: 1024px;
}

.category-images p {
    text-align:left;
    color: #222;
    line-height:1.3;
}

hr.divider {
    text-align:center;
    position: relative;
    width:300px;
    height:1px;
}

hr.divider::after {
    font-family: FontAwesome;
    content: '\f111';
    color: #e1e1e1;
    font-size: 16px;
    transform: translate(-50%,-50%);
    position: absolute;
    top:50%;
}

.divider {
		margin: 60px auto 60px auto;
}

.latest-news-posts h3 {
  padding: 0px 15px 0px 15px;
  text-overflow: ellipsis;
  width: 255px;
  white-space: nowrap;
  overflow: hidden;
  line-heigth:1;
  margin-bottom: 1px;
  }

.latest-news-title {
    text-align:center;
}

.latest-news-posts {
    background-color: #fafafa;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding: 3rem 0;
}

.news-post-loop {
  display:flex;
  border: 1px solid #FFFFFF;
}

.news-post-loop ul {
  display:flex;
  flex: 0 0 25%;
  margin: 0;
  padding: 0;
  flex-wrap:wrap;
}

.news-post-loop h3 a {
    text-decoration:none;
}

.news-post-loop li {
  box-shadow:1px 1px 1px 1px #ccc;

}

.news-post-loop li {
    list-style: none;
}
.news-loop-title .entry-meta {
      padding: 0px 0px 10px 10px;
      font-size: .9em;
}

.image-post-loop {
  height: 200px;
  overflow: hidden;
  position: relative;
  border:1px solid #e1e1e1;
}

.products-cta .front-page-btn a, a:visited {
  color: #FFF;
}

.image-post-loop img {
   transform: translate(-50%,-50%);
    left: 50%;
    max-width: none;
    position: absolute;
    top: 50%;
}

.testimonials-wrapper {
    display:flex;
    flex-wrap: wrap;
}

.testimonial-1 {
    display:flex;
    border-right: 1px dashed #d2d2d2;
    border-bottom: 1px dashed #d2d2d2;
    padding:20px 0 20px 20px;
    flex:0 0 50%;
    flex-wrap: wrap;
}

.testimonial-2 {
    border-bottom: 1px dashed #d2d2d2;
    padding:20px;
    display:flex;
    flex:0 0 50%;
    order:2;

}

.testimonial-3 {
    border-right: 1px dashed #d2d2d2;
    padding:20px 0 20px 20px;
    flex:0 0 50%;
    flex-wrap: wrap;
    display:flex;
    order:3;
}

  .testimonial-4 {
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    flex:0 0 50%;
    order: 4;
  }

.testimonial-copy div {
  padding-bottom: 20px;
}

.testimonial-copy {
    display:flex;
    align-items:flex-start;
    flex-wrap: wrap;
    flex:0 0 65%;
    flex-direction:column;
}

.testimonial-img {

    display:flex;
    flex:0 0 25%;
    margin:0;
    padding-right: 20px;
}

.testimonial-img img {
    max-width: 100px;
    height:100px;
    position: relative;
}

.test-name {
    font-weight:700;
    line-height:1;
}

.test-job {
    line-height:1.6;
}
