/*--------------------------------------------------------------
# header logo social media
--------------------------------------------------------------*/
.entry-header, .page-header {
	padding: 3em 0em 0em 0em;
}

.nav-wrapper {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		border-top: #e1e1e1 solid 1px;
	  display:flex;
}

.top-border {
	  background-color:#fafafa;
	  border-bottom:1px solid #e1e1e1;
	  height:40px;
	  width:100%
}

.fixed-width-container {
	  width:1024px;
	  margin:0 auto;
}

.logo-social {
    display:flex;
    justify-content:space-between;
}

.site-branding img {
  	width:300px;
}

.site-branding {
	  display: flex;
	  padding-top:30px;
	  padding-bottom:30px;
}


.nav-search {
	  margin:0;
	  float:right;
}

input[type="search"], input[type="submit"] {
		position:relative;
		border:none;
		background-color:transparent;
		padding-top:10px;
		outline:none;
}

button, .nav-search-submit {
	  border:none;
	  position:relative;
	  background-color: transparent;
	  width:20px;
}

.fa-search {
		padding-left: 20px;
	  margin:0;
	  position:relative;
	  right:12px;
}

.social ul {
		margin:0;
    list-style:none;
}

.social {
		padding-left: 20px;
    align-self:center;
}

.social .fa {
		padding-left: 20px;
}
