/*--------------------------------------------------------------
# header logo social media
--------------------------------------------------------------*/
h1, .entry-title {
padding-top:30px;
  text-align:center;
}

.main-navigation {

  	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.top-border {
  background-color:#fafafa;
  border-bottom:1px solid #e1e1e1;
  height:40px;
  width:100%
}

.search {
  margin:0;
  float:right;
}

.fa-search {
  margin:0;
  position:relative;
  left:-60px;
}


.menu-mainmenu-container {
  width:1024px;
  margin:0 auto;
}

input[type="search"] {
  border:none;
  outline:none;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:25px;
  padding-left:25px;
}

.search-submit {
  margin:0;
  border:none;
  background-color: transparent;
}

.site-branding img {
  width:300px;
}

.site-branding {
  display: flex;
  justify-content:space-between;
  padding-top:30px;
  padding-bottom:30px;
  width:1024px;

  margin: 0 auto;
}

.social ul {
    margin:0;
    list-style:none;
    align-self:center;
}

.fa {
  margin:0;
  font-size:1.3rem;
  padding-left: 20px;
  color: #a1a1a1;
}
.social {
    align-self:center;
}
