/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


.btn, button, input[type=button], input[type=reset],  input[type=submit] {
    border: none;
    border-radius: 3px;
    background: #400c0d;
    color: #FFF;
    cursor: pointer;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
}
.nav-search .button .search-submit, button
 .btn, .nav-search button, .nav-search input[type=button], .nav-search input[type=reset], .nav-search input[type=submit] {
    border: none;
    border-radius: 3px;
		background: transparent;
    color: #333;
    cursor: pointer;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
}

/* Links */

p .read-more:last-child {
	color:#db272a;
	display:inline-block;
	font-weight:700;
	margin: 20px 0 50px 0;

}

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {

		outline: 0;
	}
}

/* Menus */
.menu {
	font-family: 'Open Sans';
  font-weight:700;
}

.main-navigation li:first-child {
		border-left: #e1e1e1 solid 1px;
}

.main-navigation {

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;

				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}
		li:last-child
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		border-right: #e1e1e1 solid 1px;
		padding-top:10px;
		padding-bottom:10px;
		padding-right:25px;
		padding-left:25px;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: #222222;
	}
}
.current_page_item, .current-menu-item, .main-navigation ul {
    box-shadow:inset 0px -3px 0px 0px #db272a;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	  display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
