/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.lrb-widget-phone .fa-phone {
		line-height: 1.6;
		margin-left: -3px;
		font-size:1.1em;
		width: 22px;
		color:grey;
}

.lrb-widget-email .fa-envelope {
		margin-left: -3px;
		line-height: 1.6;
		width: 23px;
		font-size:1.1em;
		color:grey;
}
.lrb-widget-address .fa-map-marker {
		line-height: 1.6;
		color:grey;
}
//
.widget .widget-contact-info li:before {
		content: "\f041";
		margin: 0 2px -3px -28px;
		font-family: FontAwesome;
		display: inline-block;
		color:grey;
		width: 17px;
		font-size:1.2em;
		}

.widget-business-hours {
	margin-left: -3px;
}

.widget ul {
	list-style-type: none;
	padding:0;
}
 .widget_archive ul {
    padding: 0;
    margin: 0;
}


.widget a {
text-decoration: none;
}

.widget-area {
	padding-top:3em;
	width: 100%;
	border-left: solid 1px #e1e1e1;
	display:flex;
	flex-direction:column;
	padding-left: 5%;
	flex:1 0 22%;
}

.widget-area span   {
 color:#db272a;
 font-weight:700;
 margin: 0;
}

.widget-area, span, p  {
 margin:.25em;
}

.widget-title {
	text-transform: uppercase;
	line-height: 1.25;
}

.widget {
margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
/* Search widget. */
.widget_search .search-submit {
	display: none;
}
